@model PatientsViewModel

@{
    ViewBag.Title = "Patients";
    Layout = "_Layout";
}


<div class="container-fluid">
    <h3 class="text-center"> Пациенты</h3>

    <div class="row justify-content-center">
        <div class="col-3">
            <form action="@Url.Action("PatientsFilter")" method="post">
                <div class="form-row align-items-center">
                    <div class="col my-1">

                        <input type="text" class="form-control" name="FirstName" placeholder="Имя">
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col my-1">
                        <input type="text" class="form-control" name="LastName" placeholder="Фамилия">
                    </div>
                </div>
                <button class="col-sm-3 btn btn-primary my-1">Поиск</button>

            </form>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <a id="add-patient-show" class="btn btn-primary my-3 mr-2" href="#!">Добавть пацента</a>
            <a id="add-prescription-show" class="btn btn-primary my-3" href="#!">Добавть выписанный препарат</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Всего выписано препаратов</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var patient in Model.Patients)
                {
                    <tr>
                        <td>@patient.FirstName</td>
                        <td>@patient.LastName</td>
                        <td>@patient.PrescribedDrugs.Length</td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="add-prescription">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="@Url.Action("AddPrescription")" method="post">
            <div class="modal-header">
                <h5 class="modal-title">Добавить выписанный препарат</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="custom-select mt-3" name="PatientId">
                    <option selected disabled>Пациент</option>
                    @foreach (var patient in Model.AllPatients)
                    {
                        <option value="@patient.PatientId">@patient.FirstName @patient.LastName</option>
                    }
                </select>
                <select class="custom-select mt-3" name="DrugId">
                    <option selected disabled>Препарат</option>
                    @foreach (var drug in Model.Drugs)
                    {
                        <option value="@drug.DrugId">@drug.Name</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="add-patient">
    <div class="modal-dialog" role="document">
        <form class="modal-content"action="@Url.Action("AddPatient")" method="post">
            <div class="modal-header">
                <h5 class="modal-title">Добавить пациента</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="FirstName">
                </div>
                <div class="form-group">
                    <label for="lastname">Фамилия</label>
                    <input type="text" class="form-control" id="lastname" name="LastName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>

</div>
<script>
$(()=>{
    $("#add-prescription-show").click(()=>$("#add-prescription").modal('show'));
    $("#add-patient-show").click(()=>$("#add-patient").modal('show'))
})
</script>